.main {
    width: 1000px;
    margin: auto;
    background-color: #f3f3f3;

}

.cs {
    padding-left: 126px;
padding-top: 10px;
}


.s {
    margin-top: 165px;
    padding-left: 100px;
    font-size: 20px;
    background-color: #f3ebeb;
    color: #979696;
    width: 693px;
    height: 41px;
    text-align: left;
}

.ma {
    margin-left: 790px;
    margin-top: -42px;

}

.search-pic {
    background-color: rgb(233, 44, 161);
    width: 50px;
    height: 41px;
}

.sub {
    width: 300px;
    margin-left: -234px;
    margin-top: -118px;
    background-color: #f3ebeb;
    padding-left: 109px;
    padding-top: 20px;
    padding-right: -32px;
    position: relative;
    ;


}

.dy {
    width: 300px;
    margin-left: 361px;
    margin-top: 304px;
    background-color: #f3ebeb;
}

.e {
    position: absolute;
    top: 3px;
    right: 95px;
    bottom: -11px;
    width: 59px;
}

.la {
    width: 168px;
    height: 31px;
    background-color: #ef1060;
}


.l {
    font-size: 20px;
    color: #fff0f9;
    text-align: center;
    margin-bottom: 2px;
    

    




}

.ll {
    height: 31px;
    background-color: #ef1060;
    ;
    width: 27px;
    ;
    margin-left: 167px;
    margin-top: -24px;
    background-image: url('img/cart.png');
    background-repeat: no-repeat;

    background-size: 28px;
    align-items: center;

}

#line {
    color: #bbbbbb;
}